<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.agile4j.architecture.goods.dao.GoodsDAO">

	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />   -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
    
	<insert id="create" parameterType="GoodsModel">
		insert into tb_goods (name,imgPath,description ) 
		values(#{name},#{imgPath},#{description})
	</insert>
	<update id="update" parameterType="GoodsModel">
		update tb_goods 
		set name=#{name},
			imgPath=#{imgPath},
   			description=#{description} 
   	  	where uuid=#{uuid}
	</update>
	<delete id="delete" parameterType="int">
		delete from tb_goods where uuid=#{uuid}
	</delete>
	<select id="getByUuid" parameterType="int" resultType="GoodsModel">
		select * from tb_goods where uuid=#{uuid}
	</select>
	<select id="getByConditionPage" parameterType="GoodsQueryModel" resultType="GoodsModel" useCache="false" >
		select * from tb_goods
		<where>
			<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="customerUuid!=null &amp;&amp; customerUuid > 0">
        		and description=#{description}
        	</if>
        	<if test="goodsUuid!=null &amp;&amp; goodsUuid > 0">
        		and imgPath=#{imgPath}
        	</if>
        	<if test="buyNum!=null &amp;&amp; buyNum > 0">
        		and name like concat('%',#{name},'%')
        	</if>
		</where>
	</select>
	
</mapper>